<h3> View Task Details</h3>
<div>
    <button class="btn btn-success" type="submit">Save</button>
</div>
<div>
    <div>
        <label> <b> Project Name: </b></label> {{task.projectName}}
    </div>
    <div>
        <label> <b> Task Name: </b></label> {{task.taskName}}
    </div>
    <div>
        <label> <b> Assignee: </b></label> {{task.assignee}}
    </div>

    <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" [placeholder]="''" [ngModel]="editorDoc"></ngx-editor>
    </div>

    <div class="footer">
        <label>footer</label>
    </div>
</div>